* {
  /* outline: dotted 1px gray; */
}

:root {
  --color-primary-lime-green: hsl(163, 72%, 41%);
  --color-primary-bright-red: hsl(356, 69%, 56%);
  --color-accent-facebook: hsl(208, 92%, 53%);
  --color-accent-twitter: hsl(203, 89%, 53%);
  --color-accent-instagram1: hsl(37, 97%, 70%);
  --color-accent-instagram2: hsl(329, 70%, 58%);
  --color-accent-youtube: hsl(348, 97%, 39%);
  --color-accent-dark-toggle1: hsl(210, 78%, 56%);
  --color-accent-dark-toggle2: hsl(146, 68%, 55%);
  --color-accent-light-toggle: hsl(230, 22%, 74%);
  --color-dark-theme-blue1: hsl(230, 17%, 14%);
  --color-dark-theme-blue2: hsl(232, 19%, 15%);
  --color-dark-theme-blue3: hsl(228, 28%, 20%);
  --color-dark-theme-blue4: hsl(228, 34%, 66%);
  --color-light-theme-blue1: hsl(225, 100%, 98%);
  --color-light-theme-blue2: hsl(227, 47%, 96%);
  --color-light-theme-blue3: hsl(228, 12%, 44%);
  --color-light-theme-blue4: hsl(230, 17%, 14%);
}

body {
  position: relative;
  padding: 1.5rem;
  font-family: 'Inter', sans-serif;
}

.background {
  position: absolute;
  width: 100%;
  height: 200px;
  left: 0;
  top: 0;
  background-color: var(--color-light-theme-blue1) ;
  border-radius: 0 0 20px 20px;
  padding: 1.5rem;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 45px 1fr;
}

.dashboard-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-light-theme-blue4);
}

.all-columns {
  grid-column: 1 / -1;
}

.border-bottom-line {
  border-bottom: solid 1px var(--color-light-theme-blue3);
}

h2 {
  font-weight: 700;
  color: var(--color-light-theme-blue3);
  font-size: 0.875rem;
}

.switch-text {
  align-self: end;
}

.switch {
  align-self: end;
  justify-self: end;
  position: relative;
  display: inline-block;
  width: 45px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-round {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-accent-light-toggle);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 22px;
}

.slider-round::before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  right: 3px;
  bottom: 3px;
  background-color: var(--color-light-theme-blue1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked+.slider-round::before {
  -webkit-transform: translateX(-23px);
  -ms-transform: translateX(-23px);
  transform: translateX(-23px);
}

main {
  position: absolute;
  top: 170px;
  width: 327px;
}

.main-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
}

.card-primary {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--color-light-theme-blue2);
  border-radius: 5px;
  padding: 10px;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--color-light-theme-blue3);
  margin: 10px 0;
}

.number-of-followers {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: -10px;
}

.followers-text {
  font-size: 0.875rem;
  letter-spacing: 0.25rem;
  color: var(--color-light-theme-blue3);
}

.followers-change {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 20px 0 15px 0;
  font-size: 0.75rem;
  font-weight: 700;
}

.up-change {
  color: var(--color-primary-lime-green);
}

.down-change {
  color: var(--color-primary-bright-red);
}

.facebook-top-edge {
  border-top: solid 4px var(--color-accent-facebook);
}

.twitter-top-edge {
  border-top: solid 4px var(--color-accent-twitter);
}

.instagram-top-edge {
  border-top-color: linear-gradient(to right, var(--color-accent-instagram1), var(--color-accent-instagram2));
  border-top-style: solid; 
  border-top-width: 4px;
}

.youtube-top-edge {
  border-top: solid 4px var(--color-accent-youtube);
}






.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}