:root {
  --color-primary-lime-green: hsl(163, 72%, 41%);
  --color-primary-bright-red: hsl(356, 69%, 56%);
  --color-accent-facebook: hsl(208, 92%, 53%);
  --color-accent-twitter: hsl(203, 89%, 53%);
  --color-accent-instagram1: hsl(37, 97%, 70%);
  --color-accent-instagram2: hsl(329, 70%, 58%);
  --color-accent-youtube: hsl(348, 97%, 39%);
  --color-accent-dark-toggle1: hsl(210, 78%, 56%);
  --color-accent-dark-toggle2:hsl(146, 68%, 55%);
  --color-accent-light-toggle: hsl(230, 22%, 74%);
  --color-theme-dark-blue1: hsl(230, 17%, 14%);
  --color-theme-dark-blue2: hsl(232, 19%, 15%);  
  --color-theme-dark-blue3: hsl(228, 28%, 20%);
  --color-theme-dark-blue4: hsl(228, 34%, 66%);
  --color-theme-light-blue1: hsl(225, 100%, 98%);
  --color-theme-light-blue2: hsl(227, 47%, 96%);
  --color-theme-light-blue3: hsl(228, 12%, 44%);
  --color-theme-light-blue4: hsl(230, 17%, 14%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}